.character-card {
    height: 350px;
    text-decoration: none;
}

.detailed-character-card {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 850px;
    max-height: 500px;
    padding: 24px;

    .title {
        align-self: center;
    }

    .content {
        padding: 18px;
    }

    .image {
        max-width: 200px;
        align-self: center;
    }

    .link {
        text-decoration: none;
        color: burlywood;
    }

    @media (min-width: 500px) {
        min-width: 450px;
    }
}