.character-card {
    height: 350px;
    text-decoration: none;
}
.detailed-character {
    padding: 24px;
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}